a {
	text-decoration:none;
	color:#ffffff;
	}
a:hover {
	text-decoration:underline;
	}
  
/**************
 * HEADER CSS  
 **************
 */
#tagline {
	display:none;
	}

/**************
 * CONTENT CSS
 **************
 */

#content {
	position:relative;
	height:200px;
	padding-left:6em;
	width:800px;
	}
#content h2 {
	padding:0;
	margin:0.2em 0;
	}
#content h3 {
	font-size:1.8em;
	} 