* {
	padding:0;
	margin:0;
	}
@font-face {
	font-family: DIN;
	src: url("DIN_Black.eot") /* EOT file for IE */
}
@font-face {
	font-family: DIN;
	src: url("DIN_Black.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
	font-family: DINL;
	src: url("DINL___.eot") /* EOT file for IE */
}
@font-face {
	font-family: DINL;
	src: url("DINL___.TTF") /* TTF file for CSS3 browsers */
}
body {
	background-image:url(images/line_bw.jpg)
	color:#ccccaf;
	font-size:1em;
	}
a {
	text-decoration:none;
	color:#ccccaf;
	}
a:hover {
	color: gold;
	}
h1, h2 {
	background:black;
	color: #ccccaf;
	font-size: 6em;
	font-weight:normal;
	font: Arial;
	}
h2 	{
	padding-left:2.05em;
	font-size:3em;
	}
  
/**************
 * HEADER CSS  
 **************
 */
#h1big {
	/* margin-top:0.5em; */
	background: #ccccaf;
	color:black;
	padding:0.2em 0 0 1em;
	}
#h1alt {
	display:none;
	background: #ccccaf;
	padding:0.2em 0 0 3em;
	color:black;
	font-size:2em;
	}
#h1alt a{
	color:black;
	text-decoration:none;
	}
#h1alt a:hover{
	text-decoration:none;
	}
#tagline, #tagline2 {
	padding-top:0.2em;
	display:none;
	font: DIN;
	color:gold;
	}
#nav {
	padding-top:0.5em;
	background: black;
	height:2em;
	}
#nav a:hover{
	text-decoration: none;
	color: gold;
}

/**************
 * CONTENT CSS
 **************
 */

#content {
	position:relative;
	height:200px;
	padding-left:6em;
	color:#ccccaf;
	width:800px;
	}
#content h2 {
	padding:0;
	background: none;
	color: gold;
	}
#content h3 {
	font-size:1.8em;
	} 

#ghc {
	position: fixed;
	bottom: 20px;
	left: 20px;
	height: 100px;
	width: 100px;
}
  
/******************
 * ABOUT CSS
 ******************
 */
ul {
	display:block;
	padding-left: 6em;
	list-style:none;
	}
ul.courses {
	margin:1em 0;
	padding-left:2em;
	}
ul li {
	float:left;
	display:block;
	position:relative;
	text-transform:uppercase;
	margin-right:1em;
	font-size:1.5em;
	}
ul.courses li {
	float:none;
	text-transform:none;
	font-size:0.9em;
	}

  
#about_page {
	top:0;
	display:none;
	}
#projects_page {
	top:0;
	width:800px;
	display:none;
	}
#slider-container{
	width:800px;
	height:100px;
	background:#ff9600;
	}
.article {
	text-align:right;
	margin-bottom:1em;
	}
.article h3 {
	text-align:left;
	padding:5px 10px;
	color:#666;
	}
.article p {
	text-align:left;
	padding:10px;
	background:#eee;
	border:1px solid #666;
	border-width:1px 0;
	}
#l-expand, #g-expand , #l-close, #g-close{
	cursor:pointer;
	}
#l-expand {
	display:none;
	}
#l-container, #g-container {
	background:#666;
	height:356px;
	text-align:right;
	}

a img {
	margin:8px 0 8px 8px;
	float:left;
	border:3px solid #333;
	}
a:hover img {
	border:3px solid #ff9600;
	}

#l-container .img, #g-container .img {
	cursor:pointer;
	margin:8px 0 8px 8px;
	float:left;
	width:256px;
	height:340px;
	background:#333;
	}

#l-container .img:hover, #g-container .img:hover {
	background:#ff9600;
	}
	
.article span {
	text-align:center;
	padding:3px 5px;
	color:#fff;
	background:#666;
	font-size:0.8em;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}
.article span:hover {
	background:#ff9600;
}

#footer {
  background-color:#666;
}